  <div class="jumbotron">
    <div class="container for-about">
      <h1>Welcome to Fantasy Team Name Generator!</h1>
      <h4>Simply connect with Yahoo using the button below and watch the magic happen!</h4>
      <p><a class="btn btn-success btn-lg" role="button" (click)="doAuth()">Connect With Yahoo!&emsp;<i class='fab fa-yahoo {{this.spinning}}'></i></a></p>
    </div>
 </div>
 <div class="jumbotron">
  <h1 class="display-4">How it works:</h1>
  <ul class="fa-ul">
    <li><h4><i class="fas fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Submit usernames for fantasy players</h4></li>
    <li><h4><i class="fas fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Vote on different nicknames to get a popular vote</h4></li>
    <li><h4><i class="fas fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign into Yahoo Fantasy and see nicknames for your team</h4></li>
    <li><h4><i class="fas fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Leave with a snazzy fantasy team name!</h4></li>
  </ul>
</div>
