<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Fantasy Team Name Generator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <button class="btn btn-lg btn-light my-2 my-sm-0 "[routerLink]="['/submitName']" style="margin-right:1rem;">SUBMIT TEAM NAMES</button>
    <button class="btn btn-lg btn-light my-2 my-sm-0 "[routerLink]="['/vote']">VOTE ON NAMES</button>
  </div>
</nav>
  <router-outlet></router-outlet>
  <div class="container">
    <span class="text-muted"><h5 id="footerText"><div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>Developed by Tilak Patel. Code available at&emsp;<i class="fab fa-github" onClick="window.open.href = 'https://github.com/TilakPatel/Fantasy-Team-Name-Generator'"></i></h5></span>
  
  </div>