<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="../" class="navbar-brand">Fantasy Team Name Generator</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container text-center">
  <h1>Welcome to Fantasy Team Name Generator!</h1>
  <p>Simply connect with Yahoo using the button below and watch the magic happen!</p>
  <p><a class="btn btn-success btn-lg" href="#" role="button">Connect!</a></p>
</div>
<router-outlet></router-outlet>