<div id="textInfo">
<h1>The following names were based on: {{this.currentPlayer.name}}<i class='{{this.spinnerText}}'></i></h1>
<h4 id="emailHelp" class="form-text text-muted">Vote for the name you think is better. If the names are the same, click any one. Try submitting your own!</h4>
</div>
  <div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{this.n1}}<i class='{{this.spinnerText}}'></i></h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-lg btn-block btn-success" (click)="voteForName(1)">Vote for this name!</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{this.n2}}<i class='{{this.spinnerText}}'></i></h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-lg btn-block btn-success" (click)="voteForName(2)">Vote for this name!</button>
      </div>
    </div>
  </div>
</div>